<div class="container">
  <h1>Managers</h1>
  <p>Active Fun Magers</p>            
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th>Manager</th>
        <th>CIK</th>
      </tr>
    </thead>


    <tbody>

    <% @managers.each do |manager| %>
      <tr class="info">
          <td><%= link_to manager.name, manager_path(manager) %></td>
          <td><%= link_to manager.cik, manager_path(manager) %></td>
      </tr>
     <% end %>
    
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<p align="center"> Do not see what you are looking for? Add the Manager below! </p>


<div align="center">
  <%= simple_form_for @new_manager do |f| %>
    <%= f.input_field :cik ,placeholder: 'Enter full CIK' %>
    <%= submit_tag("Add") %>
  <% end %>
</div>
